#main
    #content
        %h1 Welcome to our Site
        %h1
        %p This is a simple game that will help children practice their shapes, colors, and animals. 
        For ages: 3-5 years
        %br
        =link_to "View all categories", questions_id_categories_path()
        

